*{
   margin: 0;
   padding: 0;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 0.9rem;
   color: hsl(0, 0%, 100%);
   box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 12%);
    width: 330px;
    height: auto;
    border-radius: 10px;
    padding: 25px 30px;
}

.box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.box h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.box h4 {
    color: hsl(75, 94%, 57%);
    font-weight: 500;
    margin-bottom: 20px;
}

.box p {
    font-size: 0.8rem;
    margin-bottom: 14px;
}

.box a {
    display: flex;
    margin: 8px;
    padding: 10px 0;
    background-color: hsl(0, 0%, 20%);
    border-radius: 6px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    font-style: none;
    text-decoration: none;
}

.box a:hover {
    margin: 10px;
    background-color: hsl(0, 0%, 8%);
    transform: translateY(-3px);
}